body {
	  max-width: 800px;
	  margin: auto;
	  padding: 1em;
	  line-height: 1.8em;
	}

img {
  border-radius: 20%;
}

.icon {
  width: 5vmin !important;
}

.icon:hover {
  filter: invert(100%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  width: 100px;
  background: #ffabe1;
  color: #793eaa;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  top: 110%;
  left: 75%;
  margin-left: -60px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffabe1 transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
