.header {
  padding: 10px;
  text-align: center;
  background: #0096FF;
  color: white;
  font-size: 30px;
}

.body {
	  max-width: 800px;
	  margin: auto;
	  padding: 1em;
	  line-height: 1.8em;
	  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
	}

.img {
  border-radius: 20%;
}

.icon {
  width: 5vmin !important;
}

.icon:hover {
  filter: invert(100%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  width: 100px;
  background: #2EBFD3;
  color: #0096FF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  top: 110%;
  left: 75%;
  margin-left: -30px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2EBFD3 transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.links {
  font-size: 20px;
  padding-top: 10px;
  padding-right: 15px;
}

.links a {
  padding-right: 10px;
}

a:hover {
  color: #0096FF;
}

a {
  text-decoration: none;
  color: #0000FF;
}


