body {
	  max-width: 800px;
	  margin: auto;
	  padding: 1em;
	  line-height: 1.8em;
	}

img {
  border-radius: 20%;
}

.icon {
  width: 5vmin !important;
}

.icon:hover {
  filter: invert(100%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  width: 100px;
  background: #6495ED;
  color: #3651E6;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  top: 110%;
  left: 75%;
  margin-left: -30px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #6495ED transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.links {
  font-size: 20px;
  padding-top: 10px;
  padding-right: 15px;
}

.links a {
  padding-right: 10px;
}

a:hover {
  color: #ffec64;
}

a {
  text-decoration: none;
  color: #793eaa;
}


